<!DOCTYPE html>
<html>

<% include ./partials/header %>

	<body>
		<% include ./partials/navbar %>
			<% include ./partials/scripts %>

				<div id="Windows" class="GameContainer">
					<canvas id="WindowsGameSpace" width="1500px" height="750px"></canvas>
				</div>
				<p><span id="ScreenX"></span>&nbsp&nbsp<span id="ScreenY"></span></p>
				<p>Player Count: <span id="PlayerCount"></span></p>
				<p><span id="xLocation"></span>&nbsp&nbsp<span id="yLocation"></span>&nbsp&nbsp&nbsp&nbsp<span
						id="Direction"></span></p>

				<script>

					let time = 0;
					let game = document.getElementById("WindowsGameSpace").getContext("2d");
					let PlayerList = [];
					let ThroughTestPlayers = true;
					let ThroughTestData = true;
					let WallCheck = [0, 1, 2, 3, 4, 5, 6];
					let Delay = 16.67;
					let TimerCheckUp = null;
					let TimerCheckDown = null;
					let TimerCheckLeft = null;
					let TimerCheckRight = null;
					let Terrain = "";

					let Player = {
						id: "<%= locals.user._id %>",
						Name: "<%= locals.user.username %>",
						xLocation: <%= locals.user.player.xLocation %>,
						yLocation: <%= locals.user.player.yLocation %>,
						xScreen: <%= locals.user.player.xScreen %>,
						yScreen: <%= locals.user.player.yScreen %>,
						Speed: <%= locals.user.player.Speed %>,
						Direction: "<%= locals.user.player.Direction %>",
						Movement: {
							Upward: <%= locals.user.player.Movement.Upward %>,
							Downward: <%= locals.user.player.Movement.Downward %>,
							Left: <%= locals.user.player.Movement.Left %>,
							Right: <%= locals.user.player.Movement.Right %>,
						},
						Bug: {
							Dragonfly: <%= locals.user.player.Bug.Dragonfly %>,
							Beetle: <%= locals.user.player.Bug.Beetle %>,
							Snail: <%= locals.user.player.Bug.Snail %>,
							Caterpillar: <%= locals.user.player.Bug.Caterpillar %>,
							Skater: <%= locals.user.player.Bug.Skater %>,
							Mosquito: <%= locals.user.player.Bug.Mosquito %>,
							Antlion: <%= locals.user.player.Bug.Antlion %>,
							Ant: <%= locals.user.player.Bug.Ant %>,
							Bee: <%= locals.user.player.Bug.Bee %>,
							Moth: <%= locals.user.player.Bug.Moth %>,
							Butterfly: <%= locals.user.player.Bug.Butterfly %>,
							Wasp: <%= locals.user.player.Bug.Wasp %>,
							Spider: <%= locals.user.player.Bug.Spider %>,
							Ladybug: <%= locals.user.player.Bug.Ladybug %>,
							Walkingstick: <%= locals.user.player.Bug.Walkingstick %>,
							ScarabBeetle: <%= locals.user.player.Bug.ScarabBeetle %>,
							StinkBug: <%= locals.user.player.Bug.StinkBug %>,
							Mantis: <%= locals.user.player.Bug.Mantis %>,
							FlowerMantisRed: <%= locals.user.player.Bug.FlowerMantisRed %>,
							FlowerMantisWhite: <%= locals.user.player.Bug.FlowerMantisWhite %>,
							FlowerMantisYellow: <%= locals.user.player.Bug.FlowerMantisYellow %>,
							Crawdad: <%= locals.user.player.Bug.Crawdad %>,
							Termite: <%= locals.user.player.Bug.Termite %>,
							Cockroach: <%= locals.user.player.Bug.Cockroach %>,
							Worm: <%= locals.user.player.Bug.Worm %>,
							Skink: <%= locals.user.player.Bug.Skink %>,
							Newt: <%= locals.user.player.Bug.Newt %>,
							Frog: <%= locals.user.player.Bug.Frog %>,
							Salamander: <%= locals.user.player.Bug.Salamander %>,
							Turtle: <%= locals.user.player.Bug.Turtle %>,
							Hummingbird: <%= locals.user.player.Bug.Hummingbird %>,
							Songbird: <%= locals.user.player.Bug.Songbird %>,
							TropicalFish: <%= locals.user.player.Bug.TropicalFish %>,
							Scorpion: <%= locals.user.player.Bug.Scorpion %>,
							MythicalScarabBeetle: <%= locals.user.player.Bug.MythicalScarabBeetle %>,
							Amoeba: <%= locals.user.player.Bug.Amoeba %>,
							LightningBug: <%= locals.user.player.Bug.LightningBug %>,
							Firefly: <%= locals.user.player.Bug.Firefly %>,
							Slug: <%= locals.user.player.Bug.Slug %>,
							JumpingSpider: <%= locals.user.player.Bug.JumpingSpider %>,
							BronzeMantis: <%= locals.user.player.Bug.BronzeMantis %>,
							Fly: <%= locals.user.player.Bug.Fly %>,
							HermitCrab: <%= locals.user.player.Bug.HermitCrab %>,
							Mudskip: <%= locals.user.player.Bug.Mudskip %>,
							Lobster: <%= locals.user.player.Bug.Lobster %>,
							Lizard: <%= locals.user.player.Bug.Lizard %>,
							Anglerfish: <%= locals.user.player.Bug.Anglerfish %>,
							Stingray: <%= locals.user.player.Bug.Stingray %>,
							Millipede: <%= locals.user.player.Bug.Millipede %>
						}
					}

					setInterval(FindPlayers, 20);
					setInterval(UploadPlayer, 20);

					window.requestAnimationFrame(GameFrame);

					function GameFrame() {
						MovementCheck();
						LoadPlayer();
						LoadPlayers();
						SummonBugs();
						document.getElementById("ScreenX").innerHTML = Player.xScreen;
						document.getElementById("ScreenY").innerHTML = Player.yScreen;

						document.getElementById("xLocation").innerHTML = Player.xLocation;
						document.getElementById("yLocation").innerHTML = Player.yLocation;

						document.getElementById("Direction").innerHTML = Player.Direction;
						window.requestAnimationFrame(GameFrame);
					}

					function LoadPlayers() {
						document.getElementById("PlayerCount").innerHTML = PlayerList.length;
						for (let i = 0; i < PlayerList.length; i++) {
							MultiplayerAvatar = new Image();
							MultiplayerAvatar.onload = function () {
								game.drawImage(MultiplayerAvatar, PlayerList[i].xLocation - (52 / 2), PlayerList[i].yLocation - (75 / 2), 52, 75);
								game.font = '12px Arial';
								game.fillStyle = "black";
								let textlength = game.measureText(PlayerList[i].Name);
								game.fillText(PlayerList[i].Name, PlayerList[i].xLocation - (textlength.width / 2) - 9, PlayerList[i].yLocation - (75 / 2));
							}
							MultiplayerAvatar.src = "/images/Player/Player.png";
						}
					}

					function LoadPlayer() {
						PlayerAvatar = new Image();
						PlayerAvatar.onload = function () {
							Clear();
							//SummonBugs();
							game.drawImage(PlayerAvatar, Player.xLocation - (52 / 2), Player.yLocation - (75 / 2), 52, 75);
							game.font = '12px Arial';
							game.fillStyle = "black";
							let textlength = game.measureText(Player.Name);
							game.fillText(Player.Name, Player.xLocation - (textlength.width / 2) - 9, Player.yLocation - (75 / 2));
						}

						if (Player.Direction == "Right") {
							PlayerAvatar.src = "/images/Player/Player.png";
						} else if (Player.Direction == "Left") {
							PlayerAvatar.src = "/images/Player/PlayerLeft.png";
						}
					}

					function Clear() {
						MapScreen = new Image();
						if (Player.xScreen == 0 && Player.yScreen == 0) {
							MapScreen.src = "/images/Map/X0Y0.png";
						} else if (Player.xScreen == 0 && Player.yScreen == 1) {
							MapScreen.src = "/images/Map/X0Y1.png";
						} else if (Player.xScreen == 0 && Player.yScreen == 2) {
							MapScreen.src = "/images/Map/X0Y2.png";
						} else if (Player.xScreen == 0 && Player.yScreen == 3) {
							MapScreen.src = "/images/Map/X0Y3.png";
						} else if (Player.xScreen == 0 && Player.yScreen == 4) {
							MapScreen.src = "/images/Map/X0Y4.png";
						} else if (Player.xScreen == 0 && Player.yScreen == 5) {
							MapScreen.src = "/images/Map/X0Y5.png";
						} else if (Player.xScreen == 0 && Player.yScreen == 6) {
							MapScreen.src = "/images/Map/X0Y6.png";
						} else if (Player.xScreen == 1 && Player.yScreen == 0) {
							MapScreen.src = "/images/Map/X1Y0.png";
						} else if (Player.xScreen == 1 && Player.yScreen == 1) {
							MapScreen.src = "/images/Map/X1Y1.png";
						} else if (Player.xScreen == 1 && Player.yScreen == 2) {
							MapScreen.src = "/images/Map/X1Y2.png";
						} else if (Player.xScreen == 1 && Player.yScreen == 3) {
							MapScreen.src = "/images/Map/X1Y3.png";
						} else if (Player.xScreen == 1 && Player.yScreen == 4) {
							MapScreen.src = "/images/Map/X1Y4.png";
						} else if (Player.xScreen == 1 && Player.yScreen == 5) {
							MapScreen.src = "/images/Map/X1Y5.png";
						} else if (Player.xScreen == 1 && Player.yScreen == 6) {
							MapScreen.src = "/images/Map/X1Y6.png";
						} else if (Player.xScreen == 2 && Player.yScreen == 0) {
							MapScreen.src = "/images/Map/X2Y0.png";
						} else if (Player.xScreen == 2 && Player.yScreen == 1) {
							MapScreen.src = "/images/Map/X2Y1.png";
						} else if (Player.xScreen == 2 && Player.yScreen == 2) {
							MapScreen.src = "/images/Map/X2Y2.png";
						} else if (Player.xScreen == 2 && Player.yScreen == 3) {
							MapScreen.src = "/images/Map/X2Y3.png";
						} else if (Player.xScreen == 2 && Player.yScreen == 4) {
							MapScreen.src = "/images/Map/X2Y4.png";
						} else if (Player.xScreen == 2 && Player.yScreen == 5) {
							MapScreen.src = "/images/Map/X2Y5.png";
						} else if (Player.xScreen == 2 && Player.yScreen == 6) {
							MapScreen.src = "/images/Map/X2Y6.png";
						} else if (Player.xScreen == 3 && Player.yScreen == 0) {
							MapScreen.src = "/images/Map/X3Y0.png";
						} else if (Player.xScreen == 3 && Player.yScreen == 1) {
							MapScreen.src = "/images/Map/X3Y1.png";
						} else if (Player.xScreen == 3 && Player.yScreen == 2) {
							MapScreen.src = "/images/Map/X3Y2.png";
						} else if (Player.xScreen == 3 && Player.yScreen == 3) {
							MapScreen.src = "/images/Map/X3Y3.png";
						} else if (Player.xScreen == 3 && Player.yScreen == 4) {
							MapScreen.src = "/images/Map/X3Y4.png";
						} else if (Player.xScreen == 3 && Player.yScreen == 5) {
							MapScreen.src = "/images/Map/X3Y5.png";
						} else if (Player.xScreen == 3 && Player.yScreen == 6) {
							MapScreen.src = "/images/Map/X3Y6.png";
						} else if (Player.xScreen == 4 && Player.yScreen == 0) {
							MapScreen.src = "/images/Map/X4Y0.png";
						} else if (Player.xScreen == 4 && Player.yScreen == 1) {
							MapScreen.src = "/images/Map/X4Y1.png";
						} else if (Player.xScreen == 4 && Player.yScreen == 2) {
							MapScreen.src = "/images/Map/X4Y2.png";
						} else if (Player.xScreen == 4 && Player.yScreen == 3) {
							MapScreen.src = "/images/Map/X4Y3.png";
						} else if (Player.xScreen == 4 && Player.yScreen == 4) {
							MapScreen.src = "/images/Map/X4Y4.png";
						} else if (Player.xScreen == 4 && Player.yScreen == 5) {
							MapScreen.src = "/images/Map/X4Y5.png";
						} else if (Player.xScreen == 4 && Player.yScreen == 6) {
							MapScreen.src = "/images/Map/X4Y6.png";
						} else if (Player.xScreen == 5 && Player.yScreen == 0) {
							MapScreen.src = "/images/Map/X5Y0.png";
						} else if (Player.xScreen == 5 && Player.yScreen == 1) {
							MapScreen.src = "/images/Map/X5Y1.png";
						} else if (Player.xScreen == 5 && Player.yScreen == 2) {
							MapScreen.src = "/images/Map/X5Y2.png";
						} else if (Player.xScreen == 5 && Player.yScreen == 3) {
							MapScreen.src = "/images/Map/X5Y3.png";
						} else if (Player.xScreen == 5 && Player.yScreen == 4) {
							MapScreen.src = "/images/Map/X5Y4.png";
						} else if (Player.xScreen == 5 && Player.yScreen == 5) {
							MapScreen.src = "/images/Map/X5Y5.png";
						} else if (Player.xScreen == 5 && Player.yScreen == 6) {
							MapScreen.src = "/images/Map/X5Y6.png";
						} else if (Player.xScreen == 6 && Player.yScreen == 0) {
							MapScreen.src = "/images/Map/X6Y0.png";
						} else if (Player.xScreen == 6 && Player.yScreen == 1) {
							MapScreen.src = "/images/Map/X6Y1.png";
						} else if (Player.xScreen == 6 && Player.yScreen == 2) {
							MapScreen.src = "/images/Map/X6Y2.png";
						} else if (Player.xScreen == 6 && Player.yScreen == 3) {
							MapScreen.src = "/images/Map/X6Y3.png";
						} else if (Player.xScreen == 6 && Player.yScreen == 4) {
							MapScreen.src = "/images/Map/X6Y4.png";
						} else if (Player.xScreen == 6 && Player.yScreen == 5) {
							MapScreen.src = "/images/Map/X6Y5.png";
						} else if (Player.xScreen == 6 && Player.yScreen == 6) {
							MapScreen.src = "/images/Map/X6Y6.png";
						} else {
							//game.beginPath();
							//game.fillStyle = "green";
							//game.fillRect(0, 0, 1500, 750);
						}
						game.drawImage(MapScreen, 0, 0, 1500, 750);
					}

					function FindPlayers() {
						if (ThroughTestPlayers == true) {
							ThroughTestPlayers = false;
							$.get("game/renderPlayers", { Name: Player.Name, xScreen: Player.xScreen, yScreen: Player.yScreen }, function (Players) {
								PlayerList = [];
								for (let i = 0; i < Players.length; i++) {
									let PlayerCharacter = new TempCharacter(
										Players[i].username,
										Players[i].player.xLocation,
										Players[i].player.yLocation,
										Players[i].player.Speed,
										Players[i].player.Direction
									);
									PlayerList.push(PlayerCharacter);
								}
								ThroughTestPlayers = true;
							});
						}
					}

					function TempCharacter(Name, xLocation, yLocation, Speed, Direction) {
						this.Name = Name;
						this.xLocation = xLocation;
						this.yLocation = yLocation;
						this.Speed = Speed;
						this.Direction = Direction;
					}

					function UploadPlayer() {
						if (ThroughTestData == true) {
							ThroughTestData = false;
							$.ajax({
								url: 'game/updatePlayer',
								type: 'PUT',
								data: {
									id: Player.id,
									Username: Player.Name,
									xScreen: Player.xScreen,
									yScreen: Player.yScreen,
									xLocation: Player.xLocation,
									yLocation: Player.yLocation,
									Speed: Player.Speed,
									Direction: Player.Direction,
									Movement: {
										Upward: Player.Movement.Upward,
										Downward: Player.Movement.Downward,
										Left: Player.Movement.Left,
										Right: Player.Movement.Right
									},
									Bug: {
										Dragonfly: Player.Bug.Dragonfly,
										Beetle: Player.Bug.Beetle,
										Snail: Player.Bug.Snail,
										Caterpillar: Player.Bug.Caterpillar,
										Skater: Player.Bug.Skater,
										Mosquito: Player.Bug.Mosquito,
										Antlion: Player.Bug.Antlion,
										Ant: Player.Bug.Ant,
										Bee: Player.Bug.Bee,
										Moth: Player.Bug.Moth,
										Butterfly: Player.Bug.Butterfly,
										Wasp: Player.Bug.Wasp,
										Spider: Player.Bug.Spider,
										Ladybug: Player.Bug.Ladybug,
										Walkingstick: Player.Bug.Walkingstick,
										ScarabBeetle: Player.Bug.ScarabBeetle,
										StinkBug: Player.Bug.StinkBug,
										Mantis: Player.Bug.Mantis,
										FlowerMantisRed: Player.Bug.FlowerMantisRed,
										FlowerMantisWhite: Player.Bug.FlowerMantisWhite,
										FlowerMantisYellow: Player.Bug.FlowerMantisYellow,
										Crawdad: Player.Bug.Crawdad,
										Termite: Player.Bug.Termite,
										Cockroach: Player.Bug.Cockroach,
										Worm: Player.Bug.Worm,
										Skink: Player.Bug.Skink,
										Newt: Player.Bug.Newt,
										Frog: Player.Bug.Frog,
										Salamander: Player.Bug.Salamander,
										Turtle: Player.Bug.Turtle,
										Hummingbird: Player.Bug.Hummingbird,
										Songbird: Player.Bug.Songbird,
										TropicalFish: Player.Bug.TropicalFish,
										Scorpion: Player.Bug.Scorpion,
										MythicalScarabBeetle: Player.Bug.MythicalScarabBeetle,
										Amoeba: Player.Bug.Amoeba,
										LightningBug: Player.Bug.LightningBug,
										Firefly: Player.Bug.Firefly,
										Slug: Player.Bug.Slug,
										JumpingSpider: Player.Bug.JumpingSpider,
										BronzeMantis: Player.Bug.BronzeMantis,
										Fly: Player.Bug.Fly,
										HermitCrab: Player.Bug.HermitCrab,
										Mudskip: Player.Bug.Mudskip,
										Lobster: Player.Bug.Lobster,
										Lizard: Player.Bug.Lizard,
										Anglerfish: Player.Bug.Anglerfish,
										Stingray: Player.Bug.Stingray,
										Millipede: Player.Bug.Millipede
									}
								},
								success: function (result) {
									ThroughTestData = true;
								},
								complete: function (result) {
									ThroughTestData = true;
								}
							});
						}
					}

					SummonBugs();

					function SummonBugs() {
						if (Player.xScreen == 0 && Player.yScreen == 0) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 445, 380, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Millipede", 445, 380 - 5);
							}

							Bug.src = "/images/Bugs/Millipede.png";
						} else if (Player.xScreen == 0 && Player.yScreen == 1) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 785, 145, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Ladybug", 785, 145 - 5);
							}

							Bug.src = "/images/Bugs/Ladybug.png";
						} else if (Player.xScreen == 0 && Player.yScreen == 2) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 440, 365, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Hummingbird", 440, 365 - 5);
							}

							Bug.src = "/images/Bugs/Hummingbird.png";
						} else if (Player.xScreen == 0 && Player.yScreen == 3) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 735, 250, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Beetle", 735, 250 - 5);
							}

							Bug.src = "/images/Bugs/Beetle.png";
						} else if (Player.xScreen == 0 && Player.yScreen == 4) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 55, 525, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Tropical Fish", 55, 525 - 5);
							}

							Bug.src = "/images/Bugs/TropicalFish.png";
						} else if (Player.xScreen == 0 && Player.yScreen == 5) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 80, 470, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Stingray", 80, 470 - 5);
							}

							Bug.src = "/images/Bugs/Stingray.png";
						} else if (Player.xScreen == 0 && Player.yScreen == 6) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 65, 525, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Angler Fish", 65, 525 - 5);
							}

							Bug.src = "/images/Bugs/AnglerFish.png";
						} else if (Player.xScreen == 1 && Player.yScreen == 0) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 560, 250, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Mantis", 560, 250 - 5);
							}

							Bug.src = "/images/Bugs/Mantis.png";
						} else if (Player.xScreen == 1 && Player.yScreen == 1) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 350, 30, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Song Bird", 350, 30 - 5);
							}

							Bug.src = "/images/Bugs/SongBird.png";
						} else if (Player.xScreen == 1 && Player.yScreen == 2) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 530, 95, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Stink Bug", 530, 95 - 5);
							}

							Bug.src = "/images/Bugs/StinkBug.png";
						} else if (Player.xScreen == 1 && Player.yScreen == 3) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 160, 550, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Red Mantis", 160, 550 - 5);
							}

							Bug.src = "/images/Bugs/FlowerMantisRed.png";
						} else if (Player.xScreen == 1 && Player.yScreen == 4) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 595, 35, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Fly", 595, 35 - 5);
							}

							Bug.src = "/images/Bugs/Fly.png";
						} else if (Player.xScreen == 1 && Player.yScreen == 5) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 760, 350, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Lobster", 760, 350 - 5);
							}

							Bug.src = "/images/Bugs/Lobster.png";
						} else if (Player.xScreen == 1 && Player.yScreen == 6) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 970, 505, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Cockroach", 970, 505 - 5);
							}

							Bug.src = "/images/Bugs/Cockroach.png";
						} else if (Player.xScreen == 2 && Player.yScreen == 0) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 260, 475, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Wasp", 260, 475 - 5);
							}

							Bug.src = "/images/Bugs/Wasp.png";
						} else if (Player.xScreen == 2 && Player.yScreen == 1) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 195, 195, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Spider", 195, 195 - 5);
							}

							Bug.src = "/images/Bugs/Spider.png";
						} else if (Player.xScreen == 2 && Player.yScreen == 2) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 450, 605, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Ants", 450, 605 - 5);
							}

							Bug.src = "/images/Bugs/Ants.png";
						} else if (Player.xScreen == 2 && Player.yScreen == 3) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 775, 70, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("White Mantis", 775, 70 - 5);
							}

							Bug.src = "/images/Bugs/FlowerMantisWhite.png";
						} else if (Player.xScreen == 2 && Player.yScreen == 4) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 1210, 50, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Lizard", 1210, 50 - 5);
							}

							Bug.src = "/images/Bugs/Lizard.png";
						} else if (Player.xScreen == 2 && Player.yScreen == 5) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 340, 450, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Crawdad", 340, 450 - 5);
							}

							Bug.src = "/images/Bugs/Crawdad.png";
						} else if (Player.xScreen == 2 && Player.yScreen == 6) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 900, 260, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Hermit Crab", 900, 260 - 5);
							}

							Bug.src = "/images/Bugs/HermitCrab.png";
						} else if (Player.xScreen == 3 && Player.yScreen == 0) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 1080, 215, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Jumping Spider", 1080, 215 - 5);
							}

							Bug.src = "/images/Bugs/JumpingSpider.png";
						} else if (Player.xScreen == 3 && Player.yScreen == 1) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 315, 505, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Leaf Mantis", 315, 505 - 5);
							}

							Bug.src = "/images/Bugs/BronzeMantis.png";
						} else if (Player.xScreen == 3 && Player.yScreen == 2) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 335, 150, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Caterpillar", 335, 150 - 5);
							}

							Bug.src = "/images/Bugs/Caterpillar.png";
						} else if (Player.xScreen == 3 && Player.yScreen == 3) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 750, 35, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Butterfly", 750, 35 - 5);
							}

							Bug.src = "/images/Bugs/Butterfly.png";
						} else if (Player.xScreen == 3 && Player.yScreen == 4) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 915, 260, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Mosquito", 915, 260 - 5);
							}

							Bug.src = "/images/Bugs/Mosquito.png";
						} else if (Player.xScreen == 3 && Player.yScreen == 5) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 660, 140, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Newt", 660, 140 - 5);
							}

							Bug.src = "/images/Bugs/Newt.png";
						} else if (Player.xScreen == 3 && Player.yScreen == 6) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 215, 600, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Skink", 215, 600 - 5);
							}

							Bug.src = "/images/Bugs/Skink.png";
						} else if (Player.xScreen == 4 && Player.yScreen == 0) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 525, 310, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Queen Bee", 525, 310 - 5);
							}

							Bug.src = "/images/Bugs/Bee.png";
						} else if (Player.xScreen == 4 && Player.yScreen == 1) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 400, 430, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Walking Stick", 400, 430 - 5);
							}

							Bug.src = "/images/Bugs/WalkingStick.png";
						} else if (Player.xScreen == 4 && Player.yScreen == 2) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 780, 270, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Water Strider", 780, 270 - 5);
							}

							Bug.src = "/images/Bugs/Skater.png";
						} else if (Player.xScreen == 4 && Player.yScreen == 3) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 740, 400, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";

								game.fillText("Termite", 740, 400 - 5);
							}

							Bug.src = "/images/Bugs/Termite.png";
						} else if (Player.xScreen == 4 && Player.yScreen == 4) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 115, 200, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";
								game.fillText("Frog", 115, 200 - 5);
							}

							Bug.src = "/images/Bugs/Frog.png";
						} else if (Player.xScreen == 4 && Player.yScreen == 5) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 165, 480, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";
								game.fillText("Amoeba", 165, 480 - 5);
							}

							Bug.src = "/images/Bugs/Amoeba.png";
						} else if (Player.xScreen == 4 && Player.yScreen == 6) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 1040, 265, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";
								game.fillText("Salamander", 1040, 265 - 5);
							}

							Bug.src = "/images/Bugs/Salamander.png";
						} else if (Player.xScreen == 5 && Player.yScreen == 0) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 1400, 120, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";
								game.fillText("Scorpion", 1400, 120 - 5);
							}

							Bug.src = "/images/Bugs/Scorpion.png";
						} else if (Player.xScreen == 5 && Player.yScreen == 1) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 205, 355, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";
								game.fillText("Antlion", 205, 355 - 5);
							}

							Bug.src = "/images/Bugs/Antlion.png";
						} else if (Player.xScreen == 5 && Player.yScreen == 2) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 715, 280, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";
								game.fillText("Mudskipper", 715, 280 - 5);
							}

							Bug.src = "/images/Bugs/Mudskipper.png";
						} else if (Player.xScreen == 5 && Player.yScreen == 3) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 605, 425, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";
								game.fillText("Turtle", 605, 425 - 5);
							}

							Bug.src = "/images/Bugs/Turtle.png";
						} else if (Player.xScreen == 5 && Player.yScreen == 4) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 555, 330, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";
								game.fillText("Slug", 555, 330 - 5);
							}

							Bug.src = "/images/Bugs/Slug.png";
						} else if (Player.xScreen == 5 && Player.yScreen == 5) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 485, 290, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";
								game.fillText("Firefly", 485, 290 - 5);
							}

							Bug.src = "/images/Bugs/Firefly.png";
						} else if (Player.xScreen == 5 && Player.yScreen == 6) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 345, 535, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";
								game.fillText("Snail", 345, 535 - 5);
							}

							Bug.src = "/images/Bugs/Snail.png";
						} else if (Player.xScreen == 6 && Player.yScreen == 0) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 335, 120, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";
								game.fillText("Sacred Scarab Beetle", 335, 120 - 5);
							}

							Bug.src = "/images/Bugs/SacredScarabBeetle.png";
						} else if (Player.xScreen == 6 && Player.yScreen == 1) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 425, 395, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";
								game.fillText("Scarab Beetle", 425, 395 - 5);
							}

							Bug.src = "/images/Bugs/ScarabBeetle.png";
						} else if (Player.xScreen == 6 && Player.yScreen == 2) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 385, 325, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";
								game.fillText("Yellow Mantis", 385, 325 - 5);
							}

							Bug.src = "/images/Bugs/FlowerMantisYellow.png";
						} else if (Player.xScreen == 6 && Player.yScreen == 3) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 765, 160, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";
								game.fillText("Lightning Bug", 765, 160 - 5);
							}

							Bug.src = "/images/Bugs/LightningBug.png";
						} else if (Player.xScreen == 6 && Player.yScreen == 4) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 500, 560, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";
								game.fillText("Worm", 500, 560 - 5);
							}

							Bug.src = "/images/Bugs/Worm.png";
						} else if (Player.xScreen == 6 && Player.yScreen == 5) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 775, 100, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";
								game.fillText("Moth", 775, 100 - 5);
							}

							Bug.src = "/images/Bugs/Moth.png";
						} else if (Player.xScreen == 6 && Player.yScreen == 6) {
							Bug = new Image();
							Bug.onload = function () {
								game.drawImage(Bug, 775, 385, 50, 50);
								game.font = '12px Arial';
								game.fillStyle = "white";
								game.fillText("Dragonfly", 775, 385 - 5);
							}

							Bug.src = "/images/Bugs/Dragonfly.png";
						}
					}

					function CheckForBugs() {

					}

					function GenerateRandomNumber(min, max) {
						return Math.floor(Math.random() * (max - min)) + min;
					}

					function TerrainCheck() {

					}

					function MovementCheck() {
						if (Player.yLocation <= 55 && WallCheck.indexOf(Player.xScreen) != -1 && Player.yScreen == 0) {
							Player.Movement.Upward = false;
						} else {
							Player.Movement.Upward = true;
						}

						if (
							(Player.yLocation >= 685 && WallCheck.indexOf(Player.xScreen) != -1 && Player.yScreen == 6) ||
							(Player.yLocation >= 600 && ((Player.xScreen == 3 && Player.xLocation >= 1290) || Player.xScreen == 4 || Player.xScreen == 5) && Player.yScreen == 4) ||
							(Player.yLocation >= 600 && (Player.xLocation <= 1030 || Player.xLocation >= 1330) && Player.xScreen == 6 && Player.yScreen == 4) ||
							(Player.yLocation >= 630 && (Player.xScreen == 6 || (Player.xScreen == 5 && Player.xLocation >= 1180)) && Player.yScreen == 5) ||
							(Player.yLocation >= 610 && (Player.xScreen == 4 || (Player.xScreen == 5 && Player.xLocation <= 395)) && Player.yScreen == 5)
						) {
							Player.Movement.Downward = false;
						} else {
							Player.Movement.Downward = true;
						}

						if (Player.xLocation <= 55 && WallCheck.indexOf(Player.yScreen) != -1 && Player.xScreen == 0) {
							Player.Movement.Left = false;
						} else {
							Player.Movement.Left = true;
						}

						if (Player.xLocation >= 1450 && WallCheck.indexOf(Player.yScreen) != -1 && Player.xScreen == 6) {
							Player.Movement.Right = false;
						} else {
							Player.Movement.Right = true;
						}
					}

					function Move(Direction) {
						switch (Direction) {
							case 1:
								if (Player.Movement.Upward == true) {
									Player.yLocation -= Player.Speed;
								}
								break;
							case 2:
								if (Player.Movement.Downward == true) {
									Player.yLocation += Player.Speed;
								}
								break;
							case 3:
								if (Player.Movement.Left == true) {
									Player.xLocation -= Player.Speed;
								}
								Player.Direction = "Left";
								break;
							case 4:
								if (Player.Movement.Right == true) {
									Player.xLocation += Player.Speed;
								}
								Player.Direction = "Right";
						}

						if (Player.xLocation > 1500 || (Player.xLocation > 1355 && Player.xScreen == 3 && Player.yScreen == 6)) {
							Player.xLocation = 0;
							Player.xScreen += 1;
						}
						if (Player.xLocation < 0) {
							if (Player.xScreen == 4 && Player.yScreen == 6) {
								Player.xLocation = 1260;
							} else {
								Player.xLocation = 1500;
							}
							Player.xScreen -= 1;
						}
						if (Player.yLocation > 750) {
							Player.yLocation = 0;
							Player.yScreen += 1;
						}
						if (Player.yLocation < 0) {
							Player.yLocation = 750;
							Player.yScreen -= 1;
						}
					}

					$("body").keydown(function (Key) {
						if (Key.which == 38) {
							if (TimerCheckUp == null) {
								TimerCheckUp = setInterval(Move, Delay, 1);
							}
						} else if (Key.which == 40) {
							if (TimerCheckDown == null) {
								TimerCheckDown = setInterval(Move, Delay, 2);
							}
						} else if (Key.which == 37) {
							if (TimerCheckLeft == null) {
								TimerCheckLeft = setInterval(Move, Delay, 3);
							}
						} else if (Key.which == 39) {
							if (TimerCheckRight == null) {
								TimerCheckRight = setInterval(Move, Delay, 4);
							}
						} else if (Key.which == 90) {
							Use();
						}
					});

					$("body").keyup(function (Key) {
						if (Key.which == 38) {
							clearInterval(TimerCheckUp);
							TimerCheckUp = null;
						} else if (Key.which == 40) {
							clearInterval(TimerCheckDown);
							TimerCheckDown = null;
						} else if (Key.which == 37) {
							clearInterval(TimerCheckLeft);
							TimerCheckLeft = null;
						} else if (Key.which == 39) {
							clearInterval(TimerCheckRight);
							TimerCheckRight = null;
						} else if (Key.which == 90) {
							//Use();
						}
					});

				</script>

	</body>

</html>